[Unit]
Description=DM::OJ Judge service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=<user>
ExecStart=<file>

[Install]
WantedBy=multi-user.target