[Desktop Entry]
Type=Application
Exec=gnome-terminal --command "<SCRIPT_PATH>"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_NG]=Terminal
Name=Terminal
Comment[en_NG]=Start Isard-Scripts On Startup
Comment=Start Isard-Scripts On Startup